body,
html {

    width: 100dvw;
    height: 100dvh;

}


#conteudo2 {

    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: 19.65% calc(100% - 19.65%);
    grid-template-rows: 100%;
    justify-content: space-between;
    align-items: center;

}

#informacoes {

    height: 90%;
    width: 80%;
    display: grid;
    grid-template-columns: 31.32% 68.68%;
    grid-template-rows: 26.32% 73.68%;
    grid-template-areas: "A A" "B C";
    align-self: center;
    justify-self: center;


}

.contorno_titulo {

    grid-area: A;
    width: 100%;
    height: 85%;
    border: thin solid black;
    border-radius: 70px 70px 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cor_interna {

    background-color: var(--cor1);
    width: 97%;
    height: 90%;
    border-radius: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--ffont);
    font-size: 1.4em;

}

.cor_interna button {

    font-family: var(--ffont);
    font-size: 30px;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50% 50% 50% 50%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.contorno_descricao {

    grid-area: B;
    height: 90%;
    width: 100%;
    border: thin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: start;

}

.contorno_foto {

    grid-area: C;
    height: 90%;
    width: 90%;
    border: thin solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: end;
    position: relative;
    object-fit: scale-down;

}

.cor_interna2 {

    width: 95%;
    height: 94.7%;
    border-radius: inherit;
    background-color: var(--cor1);
    display: flex;
    align-items: center;
    text-align: justify;

}

#ver_mais {

    background-color: var(--cor2);
    border: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    aspect-ratio: 1/1;
    color: var(--font1);
    font-family: var(--ffont);
    font-size: 1.5rem;
    z-index: 3;

}

#foto {

    width: 100%;
    height: 100%;

}


#circulo {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

}

#contorno_circulo {

    height: 85%;
    aspect-ratio: 1/2;
    border-right: thin solid black;
    border-top: thin solid black;
    border-bottom: thin solid black;
    border-radius: 0 500px 500px 0;

}

#circulo_laranja {

    width: 20%;
    aspect-ratio: 1/1;
    background-color: var(--header1);
    position: absolute;
    border-radius: 100px 100px 100px 100px;
    top: 3.4%;

}

@media(min-width: 450px) and (max-width: 999px) {

    #circulo {
        width: 0;
        height: 0;
    }

    #conteudo2{
        grid-template-columns: 0fr 1fr;
    }

    #informacoes{
        width: 95%;
        height: 95%;
        grid-template-rows: 18% 50% 32%;
        grid-template-columns: 1fr;
        grid-template-areas: "A" "C" "B";
    }

    .contorno_foto{
        width: 95%;
        height: 90%;
        justify-self: center;
    }

    .cor_interna p{

        font-size: clamp(1.5rem, 4vw, 1.8rem)
    }

    .cor_interna button{
        width: 7vw;
        height: 7vw;
        align-content: center;
        justify-content: center;
    }


}

@media(min-width: 350px) and (max-width: 449px) {

    #conteudo2 {
        grid-template-columns: 1fr;

    }



    #circulo {

        position: absolute;
        width: 0%;
        height: 0%;
        justify-self: center;

    }

    #circulo_laranja {

        position: initial;
        width: 5%;
        background-color: white;

    }

    #contorno_circulo {

        position: unset;
        border-radius: 0;
        width: 100%;
        height: 100%;
        display: flex;

    }

    #informacoes {

        height: 100%;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "A" "C" "B";
        grid-template-rows: 20% 45% 35%;


    }

    .contorno_descricao {

        width: 95%;
        height: 80%;
        justify-self: center;


    }

    .contorno_foto {

        width: 95%;
        height: 90%;
        justify-self: center;


    }

    .contorno_titulo {

        width: 95%;
        height: 60%;
        justify-self: center;
        align-self: center;

    }

    .cor_interna button {

        width: 1em;
        height: 1em;
        background-color: #d9d9d9;

    }

    .cor_interna p {
        font-size: clamp(1.2rem, 3vw, 1.5rem);
    }

    #ver_mais {

        width: 15%;

    }

}

@media(max-width: 1000px) {}