/* Configurações gerais */

:root{

--header1: #E86A2D;
--header2: #1D1320;
--font1: white;
--font2: black;
--detalhes: #30656E;
--ffont: "Koulen", sans-serif; font-weight: 400; font-style: normal;
--ffont2: "Major Mono Display", monospace; font-weight: lighter; font-style: normal;
--ffont3: "Lusitana", serif; font-weight: 400; font-style: normal;
--cor1: #D9D9D9;
--cor2: #5C001C;

}

* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body, html{

width: 100dvw;
height: 100dvh;

}

body{

display: flex;
flex-direction: column;
align-items: center;

}

/* configuração setores de círculo */

.qt_circulo1{

width: 100%;
height: auto;
background-color: var(--header2);
border-radius: 100% 0 0 0;
overflow: hidden;

}


.qt_circulo2{

width: 100%;
height: auto;
background-color: var(--header2);
border-radius: 0 0 0 100%; 
overflow: hidden;

}

.qt_circulo3{

width: 100%;
height: auto;
background-color: var(--header2);
border-radius: 0 0 100% 0; 
overflow: hidden;

}

.qt_circulo4{

width: 100%;
height: auto;
background-color: var(--header2);
border-radius: 0  100% 0 0;
overflow: hidden;

}

.qt_circulo22{

width: 100%;
height: auto;
background-color: var(--header2);
border-radius: 0 0 0 100%; 
overflow: hidden;

}

.qt_circulo11{

width: 100%;
height: auto;
background-color: var(--header2);
border-radius: 100% 0 0 0; 
overflow: hidden;
}


/* Início <header> */


.header{

background-color: var(--header1);
display: grid;
grid-template-columns: 5fr 1fr 1fr;
width: 100%;
min-height: 25%;
max-height: 26%;
overflow: hidden;


}

#header_inicio{

min-width: 100%;
height: 100%;
overflow: hidden;
display: flex;
position: relative;

}

.container_logo{

position: absolute;
display: grid;
grid-template-columns: inherit;
height: 100%;
width: 100%;
align-items:center;
justify-content:center;
object-fit: scale-down;


}


#logo{

font-family: var(--ffont2);
color: var(--font1);
font-weight: lighter;
text-align: center;
font-size: clamp(1.5rem, 6vw, 3rem);
z-index: 3;

}

.circulos{
overflow: hidden;
width: 100%;
display: grid;
grid-template-columns: repeat(10, 1fr);
grid-template-rows: repeat(2, 1fr);


}


#menu{

height: 100%;
width: 100%;
background-color: var(--font1);
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;


}

.menu_botao{

list-style: none;
width: 100%;
display: flex;

}

#lista_menu{

width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: auto;

}

.menu_link {

width: 100%;
height: 100%;
text-decoration: none;
color: var(--header2);
font-family: var(--ffont);
font-size: 3.5vh;
display: flex;
align-items: center;
justify-content: center;

}

.decoracao_final{

width:100%;
height:100%;

}

.circulos_2{

width: 100%;
height: 100%;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 1fr 1fr;

}



/* Início <main> */


#conteudo{

width: 60%;
height: 75%;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr 1fr;


}

#profile{

display:grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr;
align-items: center;
justify-content: center;
justify-self: center;

}


#imgs{

height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}

#profile_img{

width: 12vw;
aspect-ratio: 1/1;
object-fit: fill;   
border-radius: 50%;
border-color: var(--header1);
border-style: solid;
border-width: thin;
align-self: center;

}

#descricao{
height: 100%;
width: 95%;
display: grid;
align-content: center;
justify-content:flex-start;
justify-self: center;


}


#descricao p{
height: 100%;
width: 100%;
text-align: justify;
font-size: clamp(1rem, 1.67vw, 1.3rem);
font-family: var(--ffont3);
align-content: center;
justify-content: center;

}

/* Links Rodapé */

 #links{

display: flex;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
column-gap: 10%;


}

#acesso_links{

display: flex;
width: 80%;
align-items:center;
justify-content: space-between;
font-family: var(--ffont);


}

.link_rodape1{

display: flex;
border: 0;
background-color: var(--font1);
font-family: var(--ffont);
font-size: clamp(0.5rem, 5vw, 1.5rem);
align-self: center;
justify-self: center;

}

.link_rodape2{

display: flex;
border: 0;
background-color: var(--font1);
font-family: var(--ffont);
font-size: clamp(0.5rem, 5vw, 1.5rem);

}

.setas{

color:var(--header1);

}

@media (max-width: 400px){

.header {

grid-template-columns: 2fr 1fr;
}

.circulos{

grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(3, 1fr);

}

}

@media (min-width: 401px) and (max-width: 450px){

.header {

grid-template-columns: 2fr 1fr;
}

.circulos{

grid-template-columns: repeat(4, 1fr);

}

}

@media(min-width: 451px) and (max-width: 800px){

.header{

grid-template-columns: 2fr 1fr;

}

.circulos{

grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);

}

}

@media(min-width: 801px) and (max-width: 1000px){

.header{

grid-template-columns: 2fr 1fr;

}

.circulos{

grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);


}

}

@media(max-width: 1200px) and (min-height: 700px){

.header{

grid-template-columns: 2fr 1fr;

}

.circulos{

grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(3, 1fr);
}

}













