/* Configurações gerais */

:root{

--header1: #E86A2D;
--header2: #1D1320;
--font1: white;
--font2: black;
--detalhes: #30656E;
--ffont: "Koulen", sans-serif; font-weight: 400; font-style: normal;
--ffont2: "Major Mono Display", monospace; font-weight: lighter; font-style: normal;
--ffont3: "Lusitana", serif; font-weight: 400; font-style: normal;
--cor1: #D9D9D9;
--cor2: #5C001C;

}

* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body, html{

width: 100dvw;
height: 100dvh;

}

body{

display: flex;
flex-direction: column;

}

/* configuração setores de círculo */

.qt_circulo1{

width: 100%;
height: 100%;
background-color: var(--header2);
border-radius: 100% 0 0 0;
overflow: hidden; 

}


.qt_circulo2{

width: 100%;
height: 100%;
background-color: var(--header2);
border-radius: 0 0 0 100%; 
overflow: hidden;

}

.qt_circulo3{

width: 100%;
height: 100%;
background-color: var(--header2);
border-radius: 0 0 100% 0; 
overflow: hidden;

}

.qt_circulo4{

width: 100%;
height: 100%;
background-color: var(--header2);
border-radius: 0  100% 0 0;
overflow: hidden;

}

.qt_circulo22{

width: 100%;
height: 100%;
background-color: var(--header2);
border-radius: 0 0 0 100%; 
overflow: hidden;
}

.qt_circulo11{

width: 100%;
height: 100%;
background-color: var(--header2);
border-radius: 100% 0 0 0; 
overflow: hidden;
}


/* Início <header> */


.header{

background-color: var(--header1);
display: grid;
grid-template-columns: 69.93% 15.07% 15%;
width: 100%;
height: 25%;
overflow: hidden;

}

#header_inicio{

width: 100%;
height: 100%;
overflow: hidden;
display: flex;

}

.container_logo{

width: 69.93%;
height: 25%;
position: absolute;
display: flex;
align-items:center;
justify-content:center;


}


#logo{

font-family: var(--ffont2);
color: var(--font1);
font-weight: lighter;
text-align: center;
font-size: 350%;
position: absolute;
z-index: 3;

}

.circulos{
overflow: hidden;
width: 100%;
height: 100%;
display: grid;
grid-template-columns: repeat(10, 10%);
grid-template-rows: repeat(2, 50%);


}


#menu{
height: 100%;
width: 100%;
background-color: var(--font1);
display: flex;
align-items: center;
justify-content: center;
flex-wrap: nowrap;


}

.menu_botao{

list-style: none;

}

#lista_menu{

width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-size: auto;

}

.menu_link {

width: 100%;
height: 100%;
text-decoration: none;
color: var(--header2);
font-family: var(--ffont);
font-size: 3.5vh;

}

.decoracao_final{

width:100%;
height:100%;

}

.circulos_2{

width: 100%;
height: 100%;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 1.03fr 1.03fr;

}



/* Início <main> */


#conteudo{

width:100%;
height: 75%;
display: grid;
grid-template-columns: 48.47%;
grid-template-rows: repeat(3, auto);
align-items: center;
justify-content: center;

}

#profile{
width: 90.66%;
height: 100%;
display:flex;
align-items: center;
justify-content: center;
object-fit: contain;

}

#container_logo{

display:flex;
align-items: center;
justify-content:center;

}


#imgs{
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}

#brush_art{

width:100%;

}

#profile_img{

width: 9rem;
aspect-ratio: 1/1;
object-fit:fill;   
border-radius: 50%;
border-color: var(--header1);
border-style: solid;
border-width: thin;
position: absolute;
z-index: 2;
align-self: center;

}

#descricao{

display:flex;
align-items: center;
justify-content: center;

}


#descricao p{

width: 100%;
text-align: justify;
font-size: 24px;
font-family: var(--ffont3);

}

/* Links Rodapé */

 #links{

display: flex;
align-items: center;
justify-content: space-between;


}

#acesso_links{

display: flex;
width: 80%;
align-items:center;
justify-content: space-between;
font-family: var(--ffont);


}

#rodape{

font-family: var(--ffont);
list-style: none;
display: flex;

}

.link_rodape1{

display: flex;
width: 50%;
justify-content: flex-start;
border: 0;
background-color: var(--font1);
font-family: var(--ffont);
font-size: 22px;
column-gap: 3%;

}

.link_rodape2{

display: flex;
width: 50%;
justify-content: flex-end;
border: 0;
background-color: var(--font1);
font-family: var(--ffont);
font-size: 22px;
column-gap: 3%;

}

.setas{

color:var(--header1);

}
















