{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Koulen&family=Major+Mono+Display&family=Momo+Trust+Display&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');
    </style>
    <link rel="stylesheet" href="{% static 'Portfolio/CSS/Style.css' %}">
    <link rel="stylesheet" href="{% static 'Portfolio/CSS/Contato.css' %}">
    <script defer src="{% static 'Portfolio/JS/Contato.js' %}"></script>
    <title>Portfólio- Yuri</title>
</head>

<body>
    <header class="header">
        <div id="header_inicio">
            <div class="container_logo">
                <h1 id="logo">
                    yuri aragão<br>Desenvolvedor Web
                </h1>
            </div>

            <section class="circulos">
                <div class="qt_circulo1"></div>
                <div class="qt_circulo2"></div>
                <div class="qt_circulo3"></div>
                <div class="qt_circulo4"></div>
                <div class="qt_circulo4"></div>
                <div class="qt_circulo1"></div>
                <div class="qt_circulo1"></div>
                <div class="qt_circulo1"></div>
                <div class="qt_circulo4"></div>
                <div class="qt_circulo3"></div>

                <div class="qt_circulo2"></div>
                <div class="qt_circulo2"></div>
                <div class="qt_circulo3"></div>
                <div class="qt_circulo3"></div>
                <div class="qt_circulo3"></div>
                <div class="qt_circulo2"></div>
                <div class="qt_circulo2"></div>
                <div class="qt_circulo1"></div>
                <div class="qt_circulo4"></div>
                <div class="qt_circulo4"></div>

            </section>

        </div>

        <nav id="menu">

            <ol id="lista_menu">
                <li class="menu_botao"><a target="_blank" href="https://drive.google.com/file/d/1zGCD4a0jt_SCY4wRTCrur9PDOVwP3vvo/view?usp=drive_link" class="menu_link">Currículo</a></li>
                <li class="menu_botao"><a href="{% url 'Sobre' %}" class="menu_link">Sobre</a></li>
                <li class="menu_botao"><a href="{% url 'Projetos' %}" class="menu_link">Projetos</a></li>
                <li class="menu_botao"><a style="color: #E86A2D" href="{% url 'Contato' %}" class="menu_link">Contato</a></li>
            </ol>

        </nav>


        <div class="decoracao_final">
            <section class="circulos_2">
                <div class="qt_circulo22"></div>
                <div class="qt_circulo22"></div>
                <div class="qt_circulo11"></div>
                <div class="qt_circulo22"></div>
            </section>
        </div>

    </header>

    <main class="conteudo3">
        <nav class="redes">
            <div class="contorno">
                <div class="preenchimento">
                    <button class="botao"><img src="{% static 'Portfolio/Images/WPP.png' %}"></button>
                </div>
            </div>
            <div id="Insta" class="contorno">
                <div class="preenchimento">
                    <button class="botao"><img src="{% static 'Portfolio/Images/Insta.png' %}"></button>
                </div>
            </div>
            <div id="gmail" class="contorno">
                <div class="preenchimento">
                    <button class="botao"><img src="{% static 'Portfolio/Images/gmail.png' %}"></button>
                </div>
            </div>
            <div id="Github" class="contorno">
                <div class="preenchimento">
                    <button class="botao"><img id="gith" src="{% static 'Portfolio/Images/github.png' %}"></button>
                </div>
            </div>
            <div class="contorno">
                <div class="preenchimento">
                    <button class="botao"><img src="{% static 'Portfolio/Images/LinkedIn.png' %}"></button>
                </div>
            </div>

        </nav>
        <div id="revolving_circle">
            <div id="circle"></div>
        </div>
    </main>

</body>

</html>